<div class="row">
    <div class="col-6">
        <table class="table">
            <thead>
                <tr>
                    <th>Вопрос</th>
                    <th>Ответов</th>
                    <th>Автор</th>
                    <th>Теги</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list.items">
                    <td>
                        <a href="javascript:void(0)" routerLink="/search/list/{{ item.question_id }}">
                            {{ item.title }}
                        </a>
                    </td>
                    <td>
                        <a href="javascript:void(0)" routerLink="/search/list/{{ item.question_id }}">
                            {{ item.answer_count }}
                        </a>
                    </td>
                    <td>
                        <a href="javascript:void(0)" (click)="getAuthorQuestion(item.owner.user_id)">
                            {{ item.owner.display_name }}
                        </a>
                    </td>
                    <td>
                        <a *ngFor="let tag of item.tags" href="javascript:void(0)" (click)="getTagQuestion(tag)">
                            #{{ tag }}
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <app-fast-view-component *ngIf="dataFastView" [data]="dataFastView"></app-fast-view-component>
    </div>
</div>
